html,
body {
  font-family: 'Work Sans', sans-serif;
}
.product__item img:hover {
  transform: scale(1.1);
  /* cỡ zoom khi di chuột vào */
}

.main__product {
  justify-content: center;
  margin: 100px 50px;


}

.product__item {
  margin-right: 30px;
  margin-left: 30px;
  background-color: lightgreen;
  position: relative;
  box-shadow: 2.5px 2.5px 2.5px rgb(124, 123, 123, 0.7);
  margin-bottom: 1rem;
}

.product__item .product__content img {
  width: 100%;
  height: 300px;
  transition: all 0.5s;
}

.product__item .product__content p {
  font-weight: bold;
  font-size: 30px;

  text-align: center;
  line-height: 1.8;
}

.product__sale {
  position: absolute;
  left: 88%;
  border-radius: 100%;
  background-color: orange;
  padding: 8px 1px 8px 1px;
  color: white;

}
